.runs-table{
    margin: 2em;
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    border-spacing: 0px;
}

.run-view-shell{
    display: flex;
}

.overview{
    flex-grow: 2;
}

.specific-job{
    flex-grow: 1;
}

.runs-table-header{
    background-color: gray;
}

td, th {
    padding: 1em;
}

th{
    text-align: left;
}

.runs-table-row{
    cursor: pointer;
}

.runs-table-row.finished-row{
    background-color: rgb(144, 238, 144, 0.3);
}

.runs-table-row.failed-row{
    background-color: rgb(240, 128, 128, 0.3);
}

.runs-table-row.running-row{
    background-color: rgb(255, 255, 0, 0.2);
}

.runs-table-row.unknown-row{
    background-color: rgb(211, 211, 211, 0.3);
}

.runs-table-row.upcoming-row.active{
    background-color: rgb(218, 218, 218, 0.3);
}

.runs-table-row.upcoming-row.active{
    background-color: rgb(218, 218, 218);
}

.runs-table-row.finished-row.active{
    background-color: rgb(144, 238, 144) ;
}

.runs-table-row.failed-row.active{
    background-color: rgb(240, 128, 128);
}

.runs-table-row.running-row.active{
    background-color: rgb(255, 255, 0);
}

.runs-table-row.unknown-row.active{
    background-color: rgb(211, 211, 211);
}

.rerun-button{
    background-color: transparent;
    padding : 0.5em 2em;
    cursor: pointer;
    border: solid black 1px;
}