<div class="run-view-shell">
    <div class="overview">
        <table class="runs-table" *ngIf="runs$ | async as runs">
            <thead class="runs-table-header">
                <tr>
                    <th>Run Id</th>
                    <th>Run State Id</th>
                    <th>Job Name</th>
                    <th>Started</th>
                    <th>Last update</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr [ngClass]="getRunEntryClass(run.runState)" *ngFor="let run of runs" (click)="onRunEntryClick($event, run.job?.id)">
                    <td>{{ run.id }}</td>
                    <td>{{ run.runStateName }}</td>
                    <td>{{ run.job?.name }}</td>
                    <td>{{ run.started | date:'MM/dd/yyyy hh:mm' }}</td>
                    <td>{{ run.lastUpdate | date:'MM/dd/yyyy hh:mm' }}</td>
                    <td><button class="rerun-button" (click)="onRunRerunClick(run)">Rerun</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="specific-job">
        <app-job-overview></app-job-overview>
    </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>